@charset "utf-8";
body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#spinner{
  	width: 200px;
  	height: 200px;
  	-webkit-animation: spin 1.2s ease infinite; /* Safari */
  	animation: spin 1.2s ease infinite;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#text{
	position: absolute;
	width: 400px;
	height: 800px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#mainSite{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#welcome {
  display: none;
  text-align: center;
}